
/* logo netflix */
.logo {
  width: 12rem; /* Increase size */
  filter: brightness(0) saturate(100%) invert(8%) sepia(100%) saturate(8000%) hue-rotate(-10deg) brightness(100%) contrast(120%);
  /* Increased brightness and contrast for a vivid red */
  margin-left: 2rem; /* Move logo to the right */
}

@media (min-width: 768px) {
  .logo {
    width: 11rem; /* Larger size for medium screens and up */
    margin-left: 3rem; /* More margin for larger screens */
  }
}



/* Checkbox */

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  border-radius: 0.25rem;
  border: 2px solid #fff;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
  background-color: #e50914; /* Netflix red color */
  border-color: #e50914;
}

.custom-checkbox:checked::after {
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: solid #fff;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
}

